body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    height: 100vh; /* 전체 높이 */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #4486F8;
    padding: 1.5em 0;
    display: flex;
    align-items: center;
    flex-shrink: 0; /* 크기 줄어드는거 방지 */
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5em;
}

a.header-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    flex: 0 0 auto;
}

nav#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;  
}

nav a,
#navbar a,
#navbar span {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* 링크 호버 */
nav a:hover,
#navbar a:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

/* 메인영역 - 화면 중앙 정렬 */
main {
    flex: 1; /* header 제외하고 남은 공간 모두 차지 */
    display: flex;
    flex-direction: column;      /* 세로로 쌓기 */
    justify-content: center;     /* 세로 중앙 정렬 */
    align-items: center;         /* 가로 중앙 정렬 */
    padding: 40px;
    box-sizing: border-box;
    gap: 20px;
}

/* 폼 박스 */
.form-box {
    background-color: white;
    border: 1px solid #4486F8;
    border-radius: 16px;
    padding: 40px 30px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 폼 제목 */
.form-box h2 {
    text-align: center;
    color: #4486F8;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* 입력창 래퍼 */
.input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

/* 입력창 스타일 */
.input-wrapper input {
    width: 100%;
    padding: 12px 40px 12px 40px;
    border: 1.5px solid #4486F8;
    border-radius: 999px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
}

/* 입력 아이콘 */
.input-wrapper i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

/* 버튼 */
button {
    width: 100%;
    padding: 10px;
    background-color: #4486F8;
    color: white;
    border: none;
    border-radius: 999px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #3163c9;
}

/* 회원가입 링크 */
.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: #4486F8;
    text-decoration: none;
    font-size: 14px;
}

.signup-link a:hover {
    text-decoration: underline;
}