<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-content">
            <!-- 간단 To-Do List 제목 중앙 정렬 -->
            <div class="header-title">Simple To-Do List</div>
        
            <nav>
                <!-- 메뉴 항목들 오른쪽 정렬 -->
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/signup">Sign up</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="form-box">
            <h2>Sign Up</h2>
            <form id="signup-form">
                <div class="input-wrapper">
                    <i class="fa fa-user"></i>
                    <input type="text" name="username" placeholder="User ID" required>
                </div>
                <div class="input-wrapper">
                    <i class="fa fa-envelope"></i>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="input-wrapper">
                    <i class="fa fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="input-wrapper">
                    <i class="fa fa-lock"></i>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                </div>
                <button type="submit">Sign Up</button>
                <div class="signup-link">
                    <a href="/login">Already have an account?</a>
                </div>
            </form>
            <script src="/static/signup.js"></script>
        </div>
    </main>
</body>
</html>
